
.table{
  
    border-collapse: collapse;
    width: 80%;
    margin-left: 0%;
  
}
  


.all {
    border: 3px solid black;
    
}

.App-items {
  width: 20%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  padding-top: 50px;
  padding-right: 16px;
  padding-left: 16px;
}

  
table, th, td {
    border: 3px solid #314455;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: calc(3px + 2vmin);
    color: #314455;
    text-align: center;
    align-items: center;
    
    padding-right: 4px;
    padding-left: 4px;
    
  }

  /* Customize the label (the container) */
  .container {
    display: block;
  position: relative;
  margin-left: -3px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    /* display: block;
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 24px;
    background-color: #C96567;
}
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ABDAB5;
}
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #ABDAB5;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
  
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  