.App {
  background-color: #B1C4D7;
  min-height: 100vh;
}

.App-logo {
  width: 8%;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.App-items {
  width: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-name{
  width: 70%;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 59px;
  text-align: center;

  color: #314455;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
