.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  width: 168px;
  height: 178px;
  left: 1272px;
  top: 0px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #B1C4D7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.table{

  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;

}

table, th, td {
  border: 3px solid black;
}

.tableitem{
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 30px;
  background-color: #B1C4D7;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #314455;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #314455;
}

/* Create the checkmark/indicator (hidden when not checked) */


/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.App-name{
  width: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;

  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 59px;
  text-align: center;

  color: #314455;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
